# Project exclude paths
/.idea/
/dist/*
/examples/eg_02_pyportable_installer_self_build/requirements_offline/*
/history/
/lib/temp_lib/*
/pyportable_installer/template/pyarmor/
/pyportable_installer/user_interface/launch_qml.py
/pyportable_installer/user_interface/qml/
/temp/*
/tests/

__pycache__
bat_2_exe/settings

.DS_Store

!/dist/.gitkeep
!/examples/eg_02_pyportable_installer_self_build/requirements_offline/.gitkeep
!/examples/eg_02_pyportable_installer_self_build/requirements_offline/readme.md
!/temp/.gitkeep
