# Project exclude paths
/.idea/
/dist/[^.]*
/examples/dist_pyportable_itself/requirements_offline/[^.]*
/history/
/lib/[^.]*
/lib/temp_lib/[^.]*
/pyportable_installer/template/pyarmor/
/temp/[^.]*
/tests/

__pycache__
bat_2_exe/settings