# pip download -r requirements.txt -d examples/dist_pyportable_itself/requirements_offline
# pip download <package> -d examples/dist_pyportable_itself/requirements_offline

embed-python-manager
gen-exe
lk-logger
lk-utils >= 2.1.2
# pyarmor
pyportable-crypto >= 1.0
