# pip download -r requirements.txt -d examples/dist_pyportable_itself/requirements_offline
# note: don't forget to update '~/examples/dist_pyportable_itself/requirements_offline' manually.
cython
embed-python-manager
fire
lk-logger
lk-utils
pyarmor
pyportable-crypto >= 1.0.0b0
